@import url("https://fonts.googleapis.com/css2?family=Overpass&display=swap");
body {
  font-family: "Overpass", sans-serif;
  overflow-x: hidden !important;
  position: relative;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
}

/* nav section */
.nav-section {
  height: 10vh;
  width: 100%;
  padding: 1rem 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 111;
  box-shadow: 0 0 5px #5f5e5e;
}

.nav-section .menu {
  display: none;
}

.nav-section .menu button {
  border: none;
  outline: none;
  padding: 4px 6px;
  border-radius: 3px;
  background-color: gray;
  color: white;
}

.nav-section .nav-logo h2 {
  font-size: 2rem;
  text-transform: uppercase;
  color: whitesmoke;
}

.nav-section .nav-bar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-section .nav-bar ul li {
  list-style: none;
  padding: 1rem 2rem;
}

.nav-section .nav-bar ul li a {
  font-size: 1rem;
  color: whitesmoke;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-decoration: none;
}

.nav-section .nav-bar ul li a::after {
  content: "";
  display: block;
  height: 1px;
  width: 0;
  background-color: white;
  transition: all 0.3s;
}

.nav-section .nav-bar ul li a:hover::after {
  width: 100%;
  transform: scaleX(1.03);
}

/* hero section */
#hero {
  background-color: black;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

#hero .hero-section {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  height: 90vh;
}

#hero .hero-section .hero-heading {
  height: 100%;
  flex: 1;
  text-align: left;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding: 0 6rem;
  line-height: 3rem;
}

#hero .hero-section .hero-heading h1 {
  font-size: 2.5rem;
  text-transform: capitalize;
}

#hero .hero-section .hero-heading p {
  text-transform: uppercase;
}

#hero .hero-section .hero-heading button {
  background-color: rgba(128, 128, 128, 0.781);
  text-transform: uppercase;
  padding: 1rem 2rem;
  font-size: 0.8rem;
  border-radius: 0.2rem;
  cursor: pointer;
  border: none;
  outline: none;
  color: whitesmoke;
}

#hero .hero-section .hero-img {
  height: 100%;
  width: 50%;
  padding: 10rem 5rem 0rem 0rem;
}

#hero .hero-section .hero-img img {
  height: 80%;
  width: 100%;
  box-sizing: border-box;
  padding-right: 6rem;
}

/*about section */
#about {
  height: 80vh;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#about .about-heading {
  padding: 0 6rem;
  flex: 1;
}

#about .about-heading h1 {
  font-size: 3rem;
  text-transform: capitalize;
}

#about .about-heading p {
  text-transform: uppercase;
  font-weight: normal;
  margin: 1.5rem 0;
}

#about .about-heading button {
  background-color: rgba(128, 128, 128, 0.781);
  text-transform: uppercase;
  padding: 1rem 2rem;
  font-size: 0.8rem;
  border-radius: 0.2rem;
  cursor: pointer;
  border: none;
  outline: none;
  color: whitesmoke;
}

#about .about-img {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about .about-img img {
  height: 50%;
  width: 50%;
}

/* service section */
#services {
  text-align: center;
  height: 40rem;
}

#services h1 {
  font-size: 3rem;
  letter-spacing: 0.3rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-weight: 700;
}

#services p {
  font-size: 1.2rem;
  text-transform: capitalize;
}

#services .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 5rem;
  gap: 2rem;
}

#services .cards .card {
  background-color: rgba(128, 128, 128, 0.781);
  height: 15rem;
  width: auto;
  flex: 1;
  transition: 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*Hire section */
.hire {
  background-color: rgba(189, 191, 194, 0.932);
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 2rem;
  width: auto;
  text-align: center;
  box-sizing: border-box;
}

.hire p {
  font-size: 1.2rem;
  text-transform: capitalize;
  font-weight: 600;
}

.hire .btn {
  background-color: rgba(128, 128, 128, 0.781);
  text-transform: uppercase;
  padding: 0.5rem 2rem;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  border-radius: 0.2rem;
  margin: 0 auto;
  color: whitesmoke;
}

/*footer section */
.footer {
  color: whitesmoke;
  background-color: black;
  height: 15rem;
  width: auto;
  text-align: center;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 2rem;
}

.footer h1 {
  font-size: 2rem;
  margin-bottom: -0.2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.footer .footer-icon i {
  margin: 0 0.5rem;
  cursor: pointer;
}

@media (max-width: 560px) {
  body h1 {
    font-size: 1.9rem !important;
  }
  body p {
    margin: 0.9rem 0;
  }
  body p {
    margin: 0.9rem 0 !important;
  }
  /* nav section */
  .nav-section {
    padding: 1rem;
  }
  .nav-section .nav-logo h2 {
    font-size: 2rem;
    text-transform: uppercase;
    color: whitesmoke;
    text-align: left;
  }
  .nav-section .menu {
    display: block;
  }
  .nav-section .nav-bar {
    position: absolute;
    top: 11vh;
    right: 2%;
    background-color: #706c6c;
    height: 40vh;
    width: 96vw;
    transition: 0.4s ease-in-out;
    display: none;
    border-radius: 4px;
  }
  .nav-section .nav-bar ul {
    flex-direction: column;
    padding: 0;
  }
  .nav-section .nav-bar ul li a {
    font-size: 1.1rem;
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-decoration: none;
  }
  .nav-section .nav-bar ul li a::after {
    content: "";
    display: block;
    height: 1px;
    width: 0;
    background-color: white;
    transition: 0.3s ease-in-out;
  }
  .nav-section .nav-bar ul li a:hover::after {
    width: 100%;
    transform: scaleX(1.03);
  }
  .nav-section .show {
    display: block;
  }
  /* hero section */
  #hero {
    height: 90vh;
  }
  #hero .hero-section {
    flex-direction: column-reverse;
  }
  #hero .hero-section .hero-heading {
    height: 100%;
    width: auto;
    flex: 1;
    padding: 0 1rem;
    line-height: 2rem;
    align-items: center;
  }
  #hero .hero-section .hero-heading button {
    width: auto;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    outline: none;
    border: none;
  }
  #hero .hero-section .hero-img {
    width: 100% !important;
    flex: 1;
    padding: 1rem 0;
  }
  #hero .hero-section .hero-img img {
    padding-right: 0rem;
  }
  /*about*/
  #about {
    margin-top: 5rem;
    height: auto;
    flex-direction: column;
  }
  #about .about-heading {
    text-align: center;
    padding: 1rem;
  }
  #about .about-heading button {
    background-color: rgba(128, 128, 128, 0.781);
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    outline: none;
    border: none;
    text-align: center;
    color: whitesmoke;
    font-weight: 700;
    font-size: 0.8rem;
    letter-spacing: 0.2rem;
    border-radius: 0.2rem;
    cursor: pointer;
  }
  #about .about-img {
    margin-top: 3rem;
    width: 100%;
  }
  #about .about-img img {
    height: 100%;
    width: 100%;
  }
  /* service section */
  #services {
    margin-top: 5rem;
    height: auto;
  }
  #services .cards {
    padding: 0 1rem;
    flex-direction: column;
  }
  #services .cards .card {
    background-color: rgba(128, 128, 128, 0.781);
    padding: 5rem 0;
    width: 100vw !important;
    flex: 1;
  }
  /*Hire section */
  .hire {
    margin: 2rem 0 0 0;
  }
  .hire p {
    font-size: 1.1rem;
  }
  /*footer section */
  .footer {
    line-height: 1.5rem;
  }
  .footer h1 {
    font-size: 1.4rem !important;
  }
}
