@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap");

html {
	font-size: 10px;
}
body {
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
	box-sizing: border-box;
	position: relative;
	overflow-x: hidden;
}
* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}
.nav-section {
	height: 10vh;
	width: 100%;
	padding: 1rem 6rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(0, 0, 0, 1);
	box-sizing: border-box;
	position: sticky;
	top: 0;
	z-index: 111;
	box-shadow: 0 0 15px #5f5e5e;
	.menu {
		button {
			border: none;
			outline: none;
			padding: 2px 4px;
			border-radius: 3px;
			background-color: rgb(128, 128, 128);
			color: white;
		}
	}
	.nav-logo {
		h2 {
			font-size: 3.2rem;
			font-family: "Charmonman", cursive;
			text-transform: uppercase;
			color: whitesmoke;
		}
	}
	.nav-bar ul {
		display: flex;
		justify-content: center;
		align-items: center;
		li {
			list-style: none;
			padding: 1rem 2rem;
			a {
				font-size: 1.6rem;
				color: whitesmoke;
				text-transform: uppercase;
				letter-spacing: 0.2rem;
				text-decoration: none;
				&::after {
					content: "";
					display: block;
					height: 1px;
					width: 0;
					background-color: white;
					transition: 0.3s ease-in-out;
				}
				&:hover::after {
					width: 100%;
					transform: scaleX(1.03);
				}
			}
		}
	}
}
#hero {
	background-color: black;
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
	.hero-section {
		display: flex;
		justify-content: space-around;
		align-items: center;
		text-align: center;
		height: 90vh;
		.hero-heading {
			height: 100%;
			width: 50%;
			text-align: left;
			color: whitesmoke;
			padding: 17rem 0rem 5rem 15rem;
			h1 {
				font-size: 3rem;
				letter-spacing: 0.3rem;
				text-transform: capitalize;
				margin-bottom: -0.2rem;
			}
			p {
				font-size: 1rem;
				text-transform: uppercase;
				letter-spacing: 0.2rem;
			}
			button {
				background-color: rgba(128, 128, 128, 0.781);
				text-transform: uppercase;
				padding: 1rem 2rem;
				width: 25%;
				text-align: center;
				font-size: 0.8rem;
				letter-spacing: 0.4rem;
				border-radius: 0.2rem;
				cursor: pointer;
			}
		}
		.hero-img {
			height: 100%;
			width: 50%;
			padding: 10rem 5rem 0rem 0rem;
			img {
				height: 80%;
				width: 100%;
				box-sizing: border-box;
				padding-right: 6rem;
			}
		}
	}
}

/*about*/
#about {
	height: 70vh;
	width: auto;
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.about-heading {
		text-align: left;
		height: 100%;
		color: black;
		padding: 12rem 20rem 0rem 15rem;
		h1 {
			font-size: 3rem;
			letter-spacing: 0.3rem;
			text-transform: capitalize;
			margin-bottom: -0.3rem;
		}
		p {
			font-size: 1.2rem;
			text-transform: capitalize;
			font-weight: 600;
		}
		button {
			background-color: rgba(128, 128, 128, 0.781);
			text-transform: uppercase;
			padding: 1rem 1.5rem;
			outline: none;
			border: none;
			text-align: center;
			color: whitesmoke;
			font-weight: 700;
			font-size: 0.8rem;
			letter-spacing: 0.2rem;
			border-radius: 0.2rem;
			cursor: pointer;
		}
	}
	.about-img {
		height: 100%;
		width: 50%;
		.img {
			height: 40%;
			width: 60%;
			position: relative;
			top: 39%;
			&::after {
				content: "";
				position: absolute;
				display: block;
				top: 0;
				right: 0;
				height: 90%;
				border-radius: 0.2rem;
				transform: scale(1.45, 1.3);
				width: 40%;
				background-color: rgba(95, 100, 105, 0.534);
			}
			img {
				height: 91%;
				width: 100%;
				position: relative;
				z-index: 1;
				border-radius: 0.2rem;
			}
		}
	}
}

#services {
	text-align: center;
	height: 40rem;
	h1 {
		font-size: 3rem;
		letter-spacing: 0.3rem;
		text-transform: capitalize;
		margin-bottom: -0.3rem;
	}
	p {
		font-size: 1.2rem;
		text-transform: capitalize;
		font-weight: 550;
	}
	.cards {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 2rem 5rem;
		.card {
			background-color: rgba(128, 128, 128, 0.781);
			height: 15rem;
			width: 25rem;
			margin: 1rem;
			position: relative;
			cursor: pointer;
			transition: 0.3s ease-in-out;
			&::after {
				content: "";
				display: block;
				position: absolute;
				background-color: black;
				transition: 0.3s;
			}
			.card-info {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				text-transform: capitalize;
				i {
					font-size: 1.9rem;
				}
			}
		}
	}
}

.hire {
	background-color: rgba(189, 191, 194, 0.932);
	height: 8rem;
	padding: 0.5rem 0;
	width: auto;
	text-align: center;
	box-sizing: border-box;
	p {
		font-size: 1.2rem;
		text-transform: capitalize;
		font-weight: 600;
	}
	.btn {
		background-color: rgba(128, 128, 128, 0.781);
		text-transform: uppercase;
		padding: 0.5rem 2rem;
		cursor: pointer;
		display: inline-block;
		text-align: center;
		font-size: 1rem;
		letter-spacing: 0.2rem;
		border-radius: 0.2rem;
		margin: 0 auto;
		color: whitesmoke;
	}
}

.footer {
	color: whitesmoke;
	background-color: black;
	height: 15rem;
	width: auto;
	text-align: center;
	padding: 2rem 0;
	text-transform: capitalize;
	h1 {
		font-size: 2rem;
		margin-bottom: -0.2rem;
		text-transform: uppercase;
		letter-spacing: 0.2rem;
	}
	.footer-icon {
		i {
			margin: 0 0.5rem;
			cursor: pointer;
		}
	}
}
@media (max-width: 560px) {
	section {
		padding: 0 2rem;
	}
	.nav-section {
		.nav-logo {
			h2 {
				text-align: center;
			}
		}
		.nav-bar {
			position: absolute;
			top: 10vh;
			right: 0;
			background-color: rgb(128, 128, 128);
			height: 40vh;
			width: 100vw;
			transition: 0.4s ease-in-out;
			transform: translateX(150%);

			ul {
				flex-direction: column;
				padding: 0;
				li {
					a {
						font-size: 1.6rem;
						color: whitesmoke;
						text-transform: uppercase;
						letter-spacing: 0.2rem;
						text-decoration: none;
						&::after {
							content: "";
							display: block;
							height: 1px;
							width: 0;
							background-color: white;
							transition: 0.3s ease-in-out;
						}
						&:hover::after {
							width: 100%;
							transform: scaleX(1.03);
						}
					}
				}
			}
		}
		.show {
			transform: translateX(0%);
			z-index: -1;
		}
	}

	#hero {
		height: 90vh;
		.hero-section {
			flex-direction: column-reverse;
			.hero-heading {
				text-align: center;
				height: 100%;
				width: auto;
				flex: 1;
				padding: 0 1rem;
				h1 {
					font-size: 2rem;
				}
				button {
					width: auto;
					font-size: 1rem;
					letter-spacing: 0.1rem;
					outline: none;
					border: none;
				}
			}
			.hero-img {
				flex: 1;
				padding: 1rem 0;
				img {
					padding-right: 0rem;
				}
			}
		}
	}
	/*about*/
	#about {
		height: auto;
		flex-direction: column;

		.about-heading {
			text-align: center;
			padding: 0 1rem;

			button {
				background-color: rgba(128, 128, 128, 0.781);
				text-transform: uppercase;
				padding: 1rem 1.5rem;
				outline: none;
				border: none;
				text-align: center;
				color: whitesmoke;
				font-weight: 700;
				font-size: 0.8rem;
				letter-spacing: 0.2rem;
				border-radius: 0.2rem;
				cursor: pointer;
			}
		}
		.about-img {
			margin-top: 6rem;
			margin-left: 10rem;
			width: 100%;
		}
	}
	#services {
		margin-top: 5rem;
		height: auto;
		.cards {
			flex-direction: column;
		}
	}
}
